{% load widget_tweaks %}
<style type="text/css">
  .help-block{
    color:red;
  }
</style>
<form action="{% url 'yfcase:land_edit' land.id %}" method="post" id="landUpdateForm">{% csrf_token %}

  <div class="modal-dialog">
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <!-- body -->
      <div class="modal-body">
        {{ form.yfcase|attr:"type:hidden" }}

        <div class="form-row">
          <div class="form-group col">
              <label style="margin-bottom: 2px;">{{ form.landNumber.label }}</label>
              {{ form.landNumber|add_class:"form-control fieldcolor pt-0" }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col">
              <label style="margin-bottom: 2px;">{{ form.landUrl.label }}</label>
              {{ form.landUrl|add_class:"form-control fieldcolor pt-0" }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label>{{ form.landArea.label }}</label>
            {{ form.landArea|add_class:"form-control fieldcolor pt-0" }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>{{ form.landHoldingPointPersonal.label }}</label>
            {{ form.landHoldingPointPersonal|add_class:"form-control fieldcolor pt-0" }}
          </div>
          <div class="form-group col-md-6">
            <label>{{ form.landHoldingPointAll.label }}</label>
            {{ form.landHoldingPointAll|add_class:"form-control fieldcolor pt-0" }}
          </div>
        </div>
      </div>

      <!-- footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary col" data-dismiss="modal">返回</button>
        <input class="btn btn-primary col-md-3" type="submit" value="更新" />
      </div>

    </div>
  </div>
</form>

{% block javascript %}
<script>
  $(document).ready(function(){
    // 此為欄位驗証的JS
    $('#landUpdateForm').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          landNumber: {
            validators: {
              notEmpty: {
                message: '此一欄位不得為空'
              }
            }
          },
          landArea: {
            validators: {
              notEmpty: {
                message: '此一欄位不得為空'
              },
              between: {
                min: 0.01,
                max: 99999.99,
                message: '此欄需為數字(小數點最多兩位)，且需介於 0.01 - 99999.99 之間'
              },
              regexp: {
                regexp: /^\d{1,5}(\.\d{1,2})?$/i,
                message: '此欄需為數字(小數點最多兩位)，且需介於 0.01 - 99999.99 之間'
              }
            }
          },
          landHoldingPointPersonal: {
            validators: {
              notEmpty: {
                message: '此一欄位不得為空'
              },
              integer: {
                message: '此欄需為正整數，且需大於 1 '
              },
              between: {
                min: 1,
                max: 100000,
                message: '此欄需為正整數，且需大於 1 '
              }
            }
          },
          landHoldingPointAll: {
            validators: {
              notEmpty: {
                message: '此一欄位不得為空'
              },
              integer: {
                message: '此欄需為正整數，且需大於 1 '
              },
              between: {
                min: 1,
                max: 100000,
                message: '此欄需為正整數，且需大於 1 '
              }
            }
          }
        }
      });
  });
</script>
{% endblock javascript %}