{% load widget_tweaks %}
<form action="{% url 'yfcase:regionalhead_new' %}" method="post">{% csrf_token %}
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <!-- body -->
      <div class="modal-body">
        
        {{ form.yfcase|attr:"type:hidden" }}
        {{ form.regionalHead|attr:"type:hidden" }}
            
        <div class="form-row">
          <div class="form-group col">
            <label>{{ form.finalDecision.label }}</label>
            {{ form.finalDecision|add_class:"form-control fieldcolor pt-0" }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label>{{ form.regionalHeadDate.label }}</label>
            {{ form.regionalHeadDate|add_class:"form-control fieldcolor datepicker pt-0" }}
            <small style="color:blue;">*若此欄位為空值，則日期以當天的日期為主</small>
          </div>
        </div>

        {{ request.user.fullname|json_script:"author_fullname" }} 

      </div>

      <!-- footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input class="btn btn-success col-md-3" type="submit" onclick="get_regional_yfcase()" value="Save Change" />
      </div>

    </div>
  </div>
</form>

{% block javascript %}
<script>
 $(function() {
    $( ".datepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
  });
  
  function get_regional_yfcase() {
    $(function() {
      var url = (window.location.pathname).replace("/yfcase/","").replace("/","");
      var Today = new Date();
      var addToday = Today.getFullYear()+ "-" + ("0" + (Today.getMonth() + 1)).slice(-2) + "-" + ("0" + Today.getDate()).slice(-2)
      const author_fullname = JSON.parse(document.getElementById('author_fullname').textContent);
      document.getElementById("id_regionalHead").value = author_fullname;
      if (document.getElementById("id_regionalHeadDate").value == "") {
        document.getElementById("id_regionalHeadDate").value = addToday;
      } else {
        document.getElementById("id_regionalHeadDate").value = document.getElementById("id_regionalHeadDate").value;
      }
      document.getElementById("id_yfcase").value = url;
    });
  }

</script>
{% endblock javascript %}

