{% load widget_tweaks %}
<form action="{% url 'yfcase:score_a_delete' objectbuild.id %}" method="post">{% csrf_token %}
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">刪除</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <!-- body -->
      <div class="modal-body">
        <p>你確定要刪除勘查者 "{{objectbuild.objectBuildScorerA}}" 的評比 ?</p>
        {{ form.objectBuildScorerA|attr:"type:hidden" }}
        {{ form.objectBuildScorRateA|attr:"type:hidden" }}
        {{ form.objectBuildScorReasonA|attr:"type:hidden" }}
        {{ form.plusItemA1|attr:"type:hidden" }}
        {{ form.plusItemA2|attr:"type:hidden" }}
        {{ form.plusItemA3|attr:"type:hidden" }}
        {{ form.plusItemA4|attr:"type:hidden" }}
        {{ form.plusItemA5|attr:"type:hidden" }}
        {{ form.plusItemOtherA|attr:"type:hidden" }}
        {{ form.plusValueA1|attr:"type:hidden" }}
        {{ form.plusValueA2|attr:"type:hidden" }}
        {{ form.plusValueA3|attr:"type:hidden" }}
        {{ form.plusValueA4|attr:"type:hidden" }}
        {{ form.plusValueA5|attr:"type:hidden" }}
        {{ form.plusValueOtherA|attr:"type:hidden" }}
      </div>

      <!-- footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
        <input class="btn btn-success col-md-3" type="submit" onclick="set_value_empty()" value="刪除" />
      </div>

    </div>
  </div>
</form>

{% block javascript %}
<script>
  function set_value_empty() {
   $(function() {
     document.getElementById("id_objectBuildScorerA").value = "";
     document.getElementById("id_objectBuildScorRateA").value = 0;
     document.getElementById("id_objectBuildScorReasonA").value = "";
     document.getElementById("id_plusItemA1").value = "";
     document.getElementById("id_plusItemA2").value = "";
     document.getElementById("id_plusItemA3").value = "";
     document.getElementById("id_plusItemA4").value = "";
     document.getElementById("id_plusItemA5").value = "";
     document.getElementById("id_plusItemOtherA").value = "";
     document.getElementById("id_plusValueA1").value = 0;
     document.getElementById("id_plusValueA2").value = 0;
     document.getElementById("id_plusValueA3").value = 0;
     document.getElementById("id_plusValueA4").value = 0;
     document.getElementById("id_plusValueA5").value = 0;
     document.getElementById("id_plusValueOtherA").value = 0;
    });
  }
</script>
{% endblock javascript %}